<div class="card" style="width: 18rem;">
    <img *ngIf="!!articlePhotoUrl" class="card-img-top img-fluid" src="{{articlePhotoUrl}}">
    <div class="card-body">
        <h4 class="card-title text-light">
            {{article.title}}
        </h4>

        <p class="card-text text-light" *ngIf="!!articlePhotoUrl">{{article.content | summary:90}}</p>

        <p class="card-text text-light" *ngIf="!articlePhotoUrl">{{article.content | summary:340}}</p>
        
        <button class="btn btn-xs text-dark" (click)="readMore(article.articleId)">
            Read More
        </button>                
    </div>
</div>
