<div class="container" id="famous-article">

    <div class="d-flex justify-content-center">
        <img src="/assets/img/MostDiscussedArticles.png">
    </div>
</div>

<ng-template [ngIf]="famousArticles.length > 0" [ngIfElse]="noarticles">
    <div class="container card-group mt-5">
        <app-article-card *ngFor="let famousArticle of famousArticles" [article]="famousArticle"></app-article-card>
    </div>
</ng-template>

<ng-template #noarticles>
    <div class="mt-4">

        <div class="d-flex justify-content-center">
            <h3 class="text-dark">There are no articles being discussed...</h3>
        </div>
    </div>
</ng-template>