<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 1000px;">
            <img src="/assets/img/Logo.png" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title display-4">Contact-AboutTheSport</h1>
                    <p class="card-text display-6">Reach Us</p>
                    <p class="card-text display">Email: support@aroundthesport.pl</p>
                </div>
        </div>
    </div>
</div>