<header id="home-section" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row" >
                <div class="col-4"></div>
                <div class="col-6 d-none d-lg-block" flex>
                    <video layout-fil loop="loop" autoplay="autoplay" preload="auto">
                    <source src="/assets/img/Sport5.mp4" type="video/mp4"/>
                        </video>
                </div>
                <div class="col-2 d-lg-block">
                    <a class="icon" routerLink = "facebook">
                        <img src="/assets/img/facebook-logo.png" alt='icon'>
                    </a>
                    <a class="icon"  routerLink = "instagram">
                        <img src="/assets/img/instagram-logo.png" alt='icon'>
                    </a>
                    <a class="icon"  routerLink = "twitter">
                        <img src="/assets/img/twitter-logo.png" alt='icon'>
                    </a>
                    <a class="icon" routerLink = "linkedin">
                        <img src="/assets/img/linkedin-logo.png" alt='icon'>
                    </a>
                    
                </div>
            </div>
            <div class="row">
            
                <div class="col-lg-6 d-none d-lg-block mt-5">

                    <h1 class="display-4 text-light">
                        Start writing your <strong> first article</strong> and publish today <strong>!</strong>
                    </h1>

                    <h3 class="display-4 text-light">
                         Join<strong> NOW </strong> and share your knowledge with others
                    </h3>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div> 

                        <div class="p-4 align-self-end text-light">
                            Simple registration will only take a few seconds to complete and login right away
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div> 

                        <div class="p-4 align-self-end text-light">
                            Start interacting with other authors and build connections as you publish more
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div> 

                        <div class="p-4 align-self-end text-light">
                            Get feature in our most discussed blogs section when your blog gets log of attention
                        </div>
                    </div>
                </div>

                <div  class="col-lg-6 mt-5">
                        <div class="card">
                                <div *ngIf="!accountService.isLoggedIn(); else hello_window"></div>
                                    <app-login></app-login>
                                </div>
                            <ng-template #hello_window>
                                    <video autoplay muted loop>
                                        <source src="/assets/img/Hello1.mp4" type="video/mp4"/>
                                    </video>
                                    <div class="card-content">
                                        <h5 class="username">{{ accountService.currentUserValue.username }}</h5>
                                    </div>
                            </ng-template>
                        </div>                     
                </div>         
        </div>
    </div>
    <app-famous-articles>The famous articles!</app-famous-articles>
    <app-famous-forums>The famous discussion at forum!</app-famous-forums>

</header>

