<header id="home-section" class="mb-4">
    <div class="dark-overlay">
        <div class="home-inner container">
            <div class="row" >
                <div class="col-4"></div>
                <div class="col-8 d-none d-lg-block" flex>
                    <video layout-fil loop="loop" autoplay="autoplay" preload="auto">
                    <source src="/assets/img/Sport5.mp4" type="video/mp4"/>
                        </video>
                    <!-- <video *ngIf="accountService.isLoggedIn()" layout-fil loop="loop" autoplay="autoplay" preload="auto">
                        <source src="/assets/img/Hello1.mp4" type="video/mp4"/>
                            </video> -->
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row">
            
                <div class="col-lg-8 d-none d-lg-block mt-5">

                    <h1 class="display-4 text-light">
                        Start writing your <strong> first blog</strong> and <strong>publish today</strong>
                    </h1>

                    <h3 class="display-4 text-light">
                        <strong> Join NOW </strong> and <strong>share your knowledge with others</strong>
                    </h3>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div> 

                        <div class="p-4 align-self-end text-light">
                            Simple registration will only take a few seconds to complete and login right away
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div> 

                        <div class="p-4 align-self-end text-light">
                            Start interacting with other authors and build connections as you publish more
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x text-light"></i>
                        </div> 

                        <div class="p-4 align-self-end text-light">
                            Get feature in our most discussed blogs section when your blog gets log of attention
                        </div>
                    </div>
                </div>

                <div  class="col-lg-4 mt-5">
                    <div *ngIf="!accountService.isLoggedIn(); else hello_window">
                        <div class="card center vard form">
                        <div class="card-body bg-black">
                            <app-login></app-login>
                        </div> 
                        </div>                      
                    </div>
                    <ng-template #hello_window class="col-lg-4 mt-5" style="width: auto;">
                                <video autoplay muted loop id="myVideo">
                                    <source src="/assets/img/Hello1.mp4" type="video/mp4"/>
                                        </video>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <app-famous-articles>The famous articles!</app-famous-articles>
    <app-famous-forums>The famous discussion at forum!</app-famous-forums>

</header>

