
.content{
    min-height: calc(100vh-50px);
    padding-bottom: 30px;
    border-top:1px solid #F3E09C;
    left: 0;
    width: 100%;
}

.footer{
    height: 50px;
    max-height: 50px;
    background: black;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
}
span{
    color:hsl(47, 78%, 78%);
}